/* ------ CARD COMPONENT ------ */
@use "variables" as v;

%reset-list {
	padding-left: 0;
	list-style: none;
}
%reset-margin {
	margin: 0;
}
%reset-img {
	width: 100%;
	display: block;
	box-sizing: border-box;
}
%strong-color {
	color: v.$strong-color;
}
%flex {
	display: flex;
	flex-flow: row nowrap;
}

.card {
	padding: v.$spacing; //24px
	overflow: hidden;
	border-radius: v.$radius; //15px
	background-color: v.$card-color;
	font-family: "Outfit", sans-serif;
	max-width: 21.9375rem; // 351px
	box-sizing: border-box;
}
.card__cover {
	@extend %reset-img;
}
.cover {
	position: relative;
	background-color: v.$cyan;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100%;
		background-image: url(../images/icon-view.svg);
		background-size: 2.5rem 2.5rem;
		background-repeat: no-repeat;
		background-position: center center;
	}
	&:hover {
		cursor: pointer;
		.card__cover {
			opacity: 0.5;
		}
	}
	&:hover.cover::after {
		display: block;
	}
}
.card__user-photo {
	@extend %reset-img;
	$width-photo: 2.0625rem; //33px
	width: $width-photo;
	height: $width-photo;
	border: 0.0938rem solid v.$strong-color; //1.5px
	border-radius: 50%;
}
.card__title {
	@extend %strong-color;
	@extend %reset-margin;
	font-size: 1.375rem; //22px
	font-weight: map-get(v.$f-weight, "bold");
	margin-top: 1.5625rem; //25px
	margin-bottom: v.$margin-bottom; //15px
}
.card__text {
	@extend %reset-margin;
	font-size: 1rem; //16px
	color: v.$text-color;
	font-weight: map-get(v.$f-weight, "light");
	&--strong {
		color: v.$strong-color;
		&:hover {
			color: v.$cyan;
			cursor: pointer;
		}
	}
	&--main {
		line-height: 1.5;
		margin-top: 0;
		margin-bottom: v.$margin-bottom; //15px
	}
	&--item {
		font-weight: map-get(v.$f-weight, "regular");
	}
	&--item-strong {
		color: v.$cyan;
	}
}
.card__list {
	@extend %reset-margin;
	@extend %reset-list;
	@extend %flex;
	justify-content: space-between;
}
.card__item {
	position: relative;
	--dimension: 1.125rem;
	--margin-left: calc(var(--dimension) + 7px);
	margin-left: var(--margin-left);
	&::before {
		content: "";
		display: inline-block;
		width: var(--dimension);
		height: var(--dimension);
		position: absolute;
		top: 0;
		left: calc(-1 * var(--margin-left));
		background-repeat: no-repeat;
		background-size: auto;
		background-position: center;
	}
	&:nth-of-type(1)::before {
		background-image: url(../images/icon-ethereum.svg);
	}
	&:nth-of-type(2)::before {
		background-image: url(../images/icon-clock.svg);
	}
}
.divider {
	box-sizing: content-box;
	border-width: 1px 0 1px 0;
	height: 3px;
	border-style: solid;
	border-top-color: v.$line-color;
	border-bottom-color: v.$line-color--alt;
	margin-top: v.$margin-bottom;
	margin-bottom: v.$margin-bottom;
}
.card__user {
	@extend %flex;
	align-items: center;
	gap: 1em;
}
